---
import Layout from '../layouts/Layout.astro';
import Landing from '../sections/Landing.astro'
import Works from '../sections/Works.astro';
---

<Layout title="Haris Raza (dev)">
    <main>
        <Landing />
        <Works />
	</main>
</Layout>