---
import Layout from '../layouts/Layout.astro';
import Landing from '../sections/Landing.astro'
import About from '../sections/About.astro'
---

<Layout title="Haris Raza">
	<main>
        <Landing />
        <About />
	</main>
</Layout>

<style style="scss">
    main {
        margin-inline: auto;
        max-width: 1920px;
    }
</style>