---
const { title, subtitle } = Astro.props
---

<div class="card">
    <h3 class="title"> { title } </h3>
    <div class="subtitle"> { subtitle } </div>
</div>

<style>
    .card { 
        display: flex;
        flex-direction: column;
        flex: 1;
        cursor: pointer;
        border: solid 1px var(--primary-color);

        &:hover > .title {
            padding-left: 2rem;
        }
    }

    .title { 
        padding: 0.25rem 1rem;
        background: var(--primary-color);
        color: var(--bg-color);
        transition: all 0.5s ease-in-out;
    }

    .subtitle {
        padding: 0.25rem 1rem; 
        background: var(--bg-color);
        color: var(--primary-color);
        text-align: end;
    }
</style>