---
import ButtonLink from "../components/ButtonLink.astro";

---

<section class="about">

    <h1>
        Hi, I am Haris
    </h1>


    <nav class="social-links">
        <ButtonLink src='https://twitter.com/roombawulf'>@roombawulf</ButtonLink>
        <ButtonLink src='https://github.com/roombawulf/'>Github</ButtonLink>
    </nav>


    <div class="flex-container">

        <div class="mini-canvas">

        </div>

        <div>
            <p>
                I am a <span>web developer</span> based in the <span>United Kingdom.</span> I love everything to do with
                computer graphics and learning <span>WebGL.</span> 
            </p>
            <p>
                You can <span>contact me</span> for work.
            </p>
        <div>
    </div>

</section>


<style lang="scss">
    .about {
        margin-inline: auto;
        padding-inline: 10vw;
        padding-top: calc(20vw - 15rem);
        max-width: 1920px;
    }

    @media screen and (max-width: 640px) {
        .about {
            padding-inline: 1rem;
        }  
    }

    .social-links{
        margin-bottom: 1rem;
        display: flex;
        gap: 1rem;
    }

    .flex-container {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
    }

    @media screen and (max-width: 1200px) {
        .flex-container {
            flex-direction: column;
        }  
    }

    .mini-canvas {
        flex-grow: 1;

        height: 25svw;

        border-style: solid;
        border-width: 0.1rem;
        border-radius: var(--sm);
        border-color: var(--primary-color);
    }

    p {
        max-inline-size: 60ch;
    }
</style>