<section class="about">

    <h2>
        Who... Me?
    </h2>

    <p>
        My name is <span>Haris Raza</span> (<span>@roombawulf</span>), 
        based in the <span>United Kingdom.</span>
    </p>

    <p>
        I am a creative web developer with a focus on <span>WebGL.</span>
        You can <span> contact me </span> for work.
    </p>

</section>

<style lang="scss">
    .about {
        padding-inline: 2rem;
    }
</style>