---
import CardLink from "../components/CardLink.astro";
---

<section class="landing">
    <nav class="navbar">
        <CardLink title="WORKS" subtitle="a collection of my works."/>
        <CardLink title="BLOG" subtitle="anything software or graphics."/>
        <CardLink title="CONTACT" subtitle="send me a message."/>
    </nav>
</section>



<style lang="scss">

    .landing { 
        height: 100svh;
    }
    .navbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        gap: 0.25rem;
    }
</style>