<div class="landing-container">
    <!-- react-three component goes here -->
</div>

<style lang="scss">

    .landing-container {
        height: calc(100svh - 4rem);
        margin: 2rem;
        border-style: solid;
        border-width: 0.0875rem;
        border-radius: 0.5rem;
        border-color: var(--text-color);
    }

    @media screen and (max-width: 640px) {
        .landing-container {
            height: calc(100svh - 2rem);
            margin: 1rem;
        }  
    }

</style>