---
import '@fontsource/cairo'
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss" is:global>

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    :root {
        --bg-color: hsl(11, 10%, 10%);
        --primary-color: hsl(42, 80%, 90%);
        --highlight-color: hsl(104, 50%, 70%);

        --2xl: 4.5rem;
        --xl: 2.25rem;
        --lg: 1.875rem;

        --md: 1.25rem;
        --sm: 1.125rem;
        --xs: 1.0rem;
    }

    @media screen and (max-width: 640px) {
        :root {
            --2xl: 3.75rem;
            --xl: 1.875rem;
            --lg: 1.5rem;

            --md: 1.125rem;
            --sm: 1.0rem;
            --xs: 0.875rem;
        }   
    }

    html {
        font-family: 'Cairo', system-ui, sans-serif;
        background-color: var(--bg-color);
    }

    body {
        margin: 0;
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
            Bitstream Vera Sans Mono, Courier New, monospace;
    }

    %heading {
        margin: 0;
        padding: 0;
        color: var(--primary-color);
        letter-spacing: 0.05em;
    }

    h1 {
        @extend %heading;
        font-size: var(--2xl);
    }

    h2 {
        @extend %heading;
        font-size: var(--xl);
    }

    h3 {
        @extend %heading;
        font-size: var(--lg);
    }

    p {
        margin: 0 0 2rem 0;
        padding: 0;
        color: var(--primary-color);
        font-size: var(--sm);
        letter-spacing: 0.0875em;
    }

    span {
        color: var(--highlight-color);
    }

</style>